<h1>Learn your Vocabulary</h1>

<% if @words.any? %>
  <h5>Here is a list of your study words</h5>
  <ul>
    <% @words.each do |word| %>
      <li><%= word.id %> - <%= word.title %> <a href='words/<%= word.id %>'>Show</a> <a href='words/<%= word.id %>/edit'>Edit</a>
        <ul>
          <% word.definitions.each do |definition| %>
            <li><%= definition.text %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>

<a href='/words/new'> New Word</a>
<a href='/definitions/new'> New Definition</a>
